[Unit]
Description=Go Service Restarter

[Service]
TimeoutStartSec=0
ExecStart=/home/core/ServiceRestarter --port 8081 9990d936-93cc-11e6-8b8a-3fa7c4380d63
# ExecStop=pkill -f ServiceRestarter

[Install]
WantedBy=multi-user.target
